h1{
  display: flex;
  justify-content: center;
}
.modalButton, .btn{
  margin-top: 30px;
  margin-bottom: 50px;
}

#secondButton{
  margin-left: 10px;
}
#container{
  margin-top: 3rem;
}

label, input{
  margin-top: 10px;
  
}

label{
  font-size: 1.5rem;
}

input{
  width: 200px;
}